/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
   display:inline;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: yellow;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
/* Margin bottom by footer height */
body {
    margin-bottom: 60px;
    background-color: rgb(6 2 42);
}
.footer {
  position: absolute;
  bottom: 1;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.display-4{
    color:rgb(184 45 26)
}
/* menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.logo {
    cursor:pointer;
}

.nav_links{
    list-style:none
}

.nav_links menu {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.nav_links li a {
    text-decoration: none;
    color: rgb(184 45 26);
    padding: 20px;
    display: block;
}

.nav_links li {
    display: inline-block;
    text-align: center;
}

.nav_links li a:hover {
        background: #ef8354;
    }